/* ===========================
   GLOBAL
=========================== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: $bg;
  color: $text;
  overflow-x: hidden;
}

main {
  padding-top: 90px;
}


/* ===========================
   RESPONSIVE – GLOBAL
=========================== */

/* Tablet & Mobil (768px) */
@media (max-width: 768px) {
  main {
    padding-top: 70px;
  }
}

/* Extra liten mobil (480px) */
@media (max-width: 480px) {
  main {
    padding-top: 60px;
  }
}
