@import "variables";
@import "global";
@import "components/header";
@import "sections";
@import "components/home";
@import "components/about";
@import "timeline";
@import "components/education";
@import "components/skills";
@import "components/blog";
@import "components/services";
@import "components/projects";   
@import "gallery";
@import "components/contact";
@import "animations";
@import "responsive";
@import "components/footer";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px; // justera hur mycket ner du vill scrolla
}
